<a href="https://colab.research.google.com/github/LimEzra1/CpE009A-OOP/blob/main/Concepts_of_OOP_ACT.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

class Person:
    def __init__(self, name):
        self.__name = name

    def __str__(self):
        return self.__name


class Student(Person):
    def __init__(self, std_num, name, pre_grade, mid_grade, fin_grade):
        super().__init__(name)
        self.__std_num = std_num
        self.__pre_grade = pre_grade
        self.__mid_grade = mid_grade
        self.__fin_grade = fin_grade

    def grade(self):
        return (self.__pre_grade + self.__mid_grade + self.__fin_grade) / 3


std1 = Student(1, 'std1', 89, 94, 96)
std2 = Student(2, 'std2', 95, 91, 92)
std3 = Student(3, 'std3', 87, 86, 98)

students = [std1, std2, std3]

print('Names and grades of students:')
for student in students:
    print(student, student.grade())

Names and grades of students:
std1 93.0
std2 92.66666666666667
std3 90.33333333333333

In [3]:
class Person:
    def __init__(self, name):
        self.__name = name

    def __str__(self):
        return self.__name


class Student(Person):
    def __init__(self, std_num, name, pre_grade, mid_grade, fin_grade):
        super().__init__(name)
        self.__std_num = std_num
        self.__pre_grade = pre_grade
        self.__mid_grade = mid_grade
        self.__fin_grade = fin_grade

    def grade(self):
        return (self.__pre_grade + self.__mid_grade + self.__fin_grade) / 3


std1 = Student(1, 'std1', 89, 94, 96)
std2 = Student(2, 'std2', 95, 91, 92)
std3 = Student(3, 'std3', 87, 86, 98)

students = [std1, std2, std3]

print('Names and grades of students:')
for student in students:
    print(student, student.grade())

Names and grades of students:
std1 93.0
std2 92.66666666666667
std3 90.33333333333333