<a href="https://colab.research.google.com/github/LimEzra1/CpE009A-OOP/blob/main/Demo1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python Indentation

In [10]:
if 5>2:
  print("Five is greater than two")

Five is greater than two

#Python Comments

In [11]:
if 5>2:
  print("Five is greater than two") #comparison of numbers 5 and 2

Five is greater than two

#Python Variable

In [23]:
x=1 #single variable with a value
a,b,c=0,-1,2

print(a)
print(b,c)
print(x)

b='Sally'
print(b)

0
-1 2
1
Sally

#Casting

In [24]:
b="sally" #This is a type of string
b=int(4)
print(b)

b=float(4)
print(b)

4
4.0

#Type() function

In [25]:
x=5
y='John'
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

#Double Quotes or Single Quotes

In [28]:
y="John"

print(y)
y='John'

print(y)

John
John

#Case Sentitive

In [ ]:
a=4
A="Sally" #A will ont overwrite a

#Multiple Variables

In [29]:
x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

#One Value to Multiple Variables

In [32]:
x=y=z="four"
print(x)
print(y)
print(z)

four
four
four

#Output Variables

In [38]:
x="Enjoying"
print("Python programming is "+ x)

x="Python is "
y="enjoying"
z=x+y

print(z)

Python programming is Enjoying
Python is enjoying