<a href="https://colab.research.google.com/github/LimEzra1/CpE009A-OOP/blob/main/Demo4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Operations and Expressions in Python

- bool() function allows you to evaluate any value, and give you TRue or False in return.

In [1]:
print(bool("Hello"))
print(bool(15))

True
True

- Almost any value is evaluated to True is has some sort of context except for empty space/set.

In [2]:
bool(False)
bool(None)
bool(0)
bool("")
bool(())
bool([])
bool({})

False

In [ ]:
print(bool(True))
print(bool(False)
print(bool(1))
print(bool()))

- Functions can Return a Boolean

In [3]:
def myFunction():
  return True

print(myFunction())

True

- You can execute code based on the Boolean answer of a Function

In [7]:
def myFunction():
  return True


if myFunction():
  print("YES!")

else:
  print("NO!")

YES!

- You TRy!  COmparison Operators

In [11]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=a)

True
False
False

#Python Operators

- Operators are used to perform operations on variable and values

- IN the example below, we use the + operator to add together two values.

In [15]:
print(10+5)
print(10-5)
print(10*5)
print(10/5)
print(10%5)
print(10//3)
print(10**2)

15
5
50
2.0
0
3
100

#Python Bitwise Operators

- Bitwise operator works on bits and performs bit-by-bit operation. Assume if a=60; and b=13; Now in binary format they will be as follows

a= 0011 1100
b= 0000 1101

In [22]:
a= 60
b= 13

print(a&b)
print(a|b)
print(a^b)
print(a<<1)
print(a<<2)
print(a>>2)

12
61
49
120
240
15

#Python Assignment Operators

In [24]:
# x+=3 Same as x=x+3
# x-=3 Same as x=x-3
# x*=3 Same as x=x*3
# x/=3 Same as x=x/3
# x%=3 Same as x=x%3

In [26]:
x=1
x+=3

print(x)

4

#Logical Operators
shows True or Flase

In [36]:
y = 60
z = 13

print(y > z)
print(z > y)
print(y>z and z>y)
print(y>z or z>y)
print(not(y>z and z<y))
print(not(y>z or z<y))

True
False
False
True
False
False

#Identity Operator

In [37]:
print(y is z)
print(y is not z)

False
True

#Control Structures

- is a block of programming analyzes variables and chooses a direction in which to go based on a given parameters.

#LOOP Statements

- Loop control statements in Python are used to perform looping operations until the given condition is True. Control comes out of the loop statements once condtion becomes False.

Example 1: For Loop

In [38]:
week = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

#Example 2 Break Statement

In [48]:
for x in week:
  print(x)
  if x=="Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

#What if I want to view without Thursday onwards

In [ ]:
for x in week:
  if x=="Thursday":
    break
  print(x)

Sunday
Monday
Tuesday
Wednesday

What if I want to view only Thursday

In [54]:
for x in week:
  if x=="Thursday":
    print(x)
    break

Thursday

Example 4 Looping through a String

In [51]:
for x in "week":
  print(x)

w
e
e
k

#The range() Function

- To loop through a set of code a specified number of times, we can use the range() function.

- The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [57]:
for x in range(6):
  print(x)
print(" ")
for x in range(2, 6): #(start, increment, stop)
  print(x)

0
1
2
3
4
5

2
3
4
5

#Nested Loops

In [59]:
adjective = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

#While loop

Example 5

In [68]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

#Break statement

In [72]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

Continue statement

In [73]:
i = 0
while i < 6:
  i+=1
  if i==3:
    continue
  print(i)

1
2
4
5
6

In [74]:
#else Statement
i = 1
while i<6:
  print(i)
  i+=1
else:
  print("i is no longer than 6")

1
2
3
4
5
i is no longer than 6

In [ ]:
vb7